body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #1a1a1a;
  flex-direction: column;
}

img {
  width: 500px;
  height: auto;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.button-container button {
  width: 300px;
  height: auto;
}

#registerButton {
  display: none;
}
#loginButton {
  display: none;
}
#playButton {
  display: none;
}
#logoutButton {
  display: none;
}

button {
  width: 200px;
  height: auto;
  z-index: 2;
  padding: 15px 30px;
  font-size: 18px;
  color: #fff;
  background: linear-gradient(45deg, #0f0, #00f);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.7), 0 0 30px rgba(0, 0, 255, 0.5);
}

.button-container button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 255, 0, 1), 0 0 40px rgba(0, 0, 255, 0.8);
}

#gameCanvas {
  position: absolute;
  z-index: 1;
  border: 2px solid #000;
  display: none;
  width: 80%;
  height: auto;
}

#clearStageDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 정중앙 배치 */
  width: 1220px;
  height: 170px;
  background-image: url('../../assets/clear.png');
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: none; /* 처음엔 숨기기 */
  z-index: 2; /* 캔버스보다 위에 표시되도록 설정 */
}

#allClearStageDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 정중앙 배치 */
  width: 1221px;
  height: 332px;
  background-image: url('../../assets/allClear.png');
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: none; /* 처음엔 숨기기 */
  z-index: 2; /* 캔버스보다 위에 표시되도록 설정 */
}

#gameEndButton {
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
  width: 500px;
  height: auto;
  display: none;
  z-index: 3;
}
